@import '@styles/index.scss';

._main {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0px;
  z-index: 1000;
  background-color: $loaderBackground;
  display: flex;
  justify-content: center;
  align-items: center;
}

._tooltip {
  position: absolute;
  bottom: 4rem;
  background-color: $black;
  color: $white;
  padding: 0.5rem;
  right: 0;
  opacity: 0;
  transition: all 0.5s;
  max-width: 70%;
  &::after {
    content: '';
    position: absolute;
    top: 100%;
    right: 10%;
    border-width: 0.5rem;
    border-style: solid;
    border-color: $black transparent transparent transparent;
  }
}

._registerContainer {
  width: 40rem;
  height: 40rem;
  background: $white;
  padding: 2rem 3rem;
}

._title {
  font-family: $roboto;
  font-size: $robotoBold32;
  text-align: center;
  margin: 2rem 0px;
  font-weight:$weight900;
}

._inputBox {
  font-family: $roboto;
  font-size: $roboto20;
  text-align: left;
  margin: 2rem 0px;
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0;
  position: relative;

  &:hover {
    ._tooltip {
      display: block;
      opacity: 1;
    }
  }
}

._inputBoxDouble {
  width: 50%;
  margin: 2rem 2rem;
  margin-bottom: 1rem;
  &:first-child {
    margin-left: 0;
  }
  &:last-child {
    margin-right: 0;
  }
}

._input {
  margin-top: 0.5rem;
  width: 100%;
  border: none;
  border-bottom: 1px solid $black;
  padding: 5px;
  font-family: $roboto;
  font-size: $roboto20;
}

._doubleInput {
  display: flex;
  justify-content: space-between;
}

._linkBox {
  text-align: right;
  display: flex;
  justify-content: flex-end;
}

._link {
  width: fit-content  ;
  font-family: $roboto;
  font-size: $roboto16;
  color: $gray;
  text-decoration: underline $gray;
  cursor: pointer;
}

._button {
  width: 50%;
  margin: 0 auto;
  position: relative;
  margin-top: 3rem;
}

._closeBox {
  display: flex;
  width: 100%;
  justify-content: flex-end;
}

._close {
  width: 1.5rem;
  height: 1.5rem;
  display: flex;
  font-family: $roboto;
  font-size: $roboto16;
  border: 1px solid $black;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

._inputError{
  border-color: $warning;
  color: $warning;
}