@import '@styles/index.scss';

@mixin separation {
  padding: 0 20px;
}

._container {
  display: flex;
  align-items: center;
}

._numberContainer {
  @include separation;
}

._number {
  font-size: $roboto18;
  font-family: $roboto;
  font-weight: 200;
  cursor: pointer;
}

._arrowContainer {
  display: flex;
  cursor: pointer;
}
