@import '@styles/index.scss';

._content {
  margin-top: 6.5rem;
}

._detailsContainter {
  display: flex;
  height: 85vh;
}

._leftContainer {
  width: 50%;
  border-right: 1px solid $black;
}

._rightContainer {
  width: 50%;
  margin: 5% 0px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;

  ._productNameContainer {
    ._productName {
      width: 80%;
      margin: 3% auto;
      color: $black;
      text-transform: uppercase;
      font-family: $roboto;
      font-size: $roboto26;
    }
  }
}

._buttonContainer {
  width: 200px;
}

._boxContainer {
  border-top: 1px solid $black;
  border-bottom: 1px solid $black;
  display: flex;
}

._half {
  width: 50%;
  display: flex;
  align-items: center;

  p {
    width: 60%;
    margin: 3% auto;
    font-family: $roboto;
    font-size: $roboto18;
    color: $black;
  }
}

._half:first-child {
  border-right: 1px solid $black;
}

._price {
  color: $black;
  text-transform: uppercase;
  font-family: $roboto;
  font-size: $roboto26;
  font-weight: 700;
  width: 60%;
  margin: 3% auto;
}

._colorsContainer {
  border-bottom: 1px solid $black;
  display: flex;

  ._typeColors, ._buttonContainer {
    width: 50%;
    display: flex;
    align-items: center;

    ._components {
      width: 60%;
      margin: 3% auto;
    }

    ._buttonContent {
      width: 60%;
      margin: 3% auto;

      ._button {
        width: 80%;
      }
    }
  }

  ._circlesContainer {
    display: flex;

    ._circle {
      margin-right: 3%;
    }
  }
}

._textContent {
  display: flex;
  justify-content: space-between;
  width: 80%;
  align-items: center;
  font-size: $roboto18;
  font-family: $roboto;
  margin-bottom: 5%;

  ._colorText {
    font-weight: 600;
    margin: 3% 0;
  }
  
  span {
    font-size: $roboto16;
    font-weight: 500;
  }
}

._sizesContainer {
  border-bottom: 1px solid $black;
  display: flex;

  ._sizesContent {
    width: 50%;

    ._sizes {
      width: 60%;
      margin: 3% auto;
    }
  }
}

._checkboxContainer {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

._sizesFilter {
  display: flex;
  justify-content: space-between;
  width: 50%;
}

._labelFilter {
  margin: 3% 0;
  display: flex;
  align-items: center;
}

._checkbox {
  height: 1rem;
  width: 1rem;
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  border: 1px solid $black;
  appearance: none;
  outline: none;
  cursor: pointer;
}

._checkbox:checked {
  background-color: $black;
}

._filterText {
  font-family: $roboto;
  font-size: $roboto16;
  margin-left: 5%;
}

._lastButtonContainer {
  display: flex;
  margin: 10% auto;
  justify-content: center;
}

@include responsive(lg) {
  ._content {
    margin-top: 0%;
  }
}