@import '@styles/index.scss';

._content {
  margin-top: 6.5rem;
}

._detailsContainter {
  display: flex;
  height: calc(100vh - 6.5rem);
}

._leftContainer {
  width: 50%;
  border-right: 1px solid $black;
}

._rightContainer {
  width: 50%;
  margin: 5% 0px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

._productNameContainer {
  ._productName {
    width: 80%;
    margin: 3% auto;
    color: $black;
    text-transform: uppercase;
    font-family: $roboto;
    font-size: $roboto26;
    font-weight: 900;
  }
}

._buttonContainer {
  width: 200px;
}

._boxContainer {
  border-top: 1px solid $black;
  border-bottom: 1px solid $black;
  display: flex;
  height: 13vh;
}

._half {
  width: 50%;
  display: flex;
  align-items: center;

  p {
    width: 60%;
    margin: 3% auto;
    font-family: $roboto;
    font-size: $roboto18;
    color: $black;
  }
}

._half:first-child {
  border-right: 1px solid $black;
}

._price {
  color: $black;
  text-transform: uppercase;
  font-family: $roboto;
  font-size: $roboto26;
  font-weight: 900;
  width: 60%;
  margin: 6% auto;
}

._colorsContainer {
  border-bottom: 1px solid $black;
  display: flex;
  height: 13vh;

  ._typeColors, ._buttonContainer {
    width: 50%;
    display: flex;
    align-items: center;

    ._components {
      width: 100%;
      margin: 3% 0 3% 20%;
    }

    ._buttonContent {
      width: 60%;
      margin: 3% auto;

      ._button {
        width: 80%;
      }
    }
  }

  ._circlesContainer {
    display: flex;

    ._circle {
      margin-right: 3%;
    }
  }
}

._textContent {
  display: flex;
  justify-content: space-between;
  width: 80%;
  align-items: center;
  font-size: $roboto18;
  font-family: $roboto;
  margin-bottom: 5%;

  ._colorText {
    font-weight: 600;
    margin: 3% 0;
  }
  
  ._span {
    font-size: $roboto16;
    font-weight: 500;
  }
}

._sizesContainer {
  border-bottom: 1px solid $black;
  display: flex;
  height: 13vh;

  ._sizesContent {
    width: 50%;

    ._sizes {
      width: 75%;
      margin: 3% 0 3% 20%;
    }
  }
}

._checkboxContainer {
  display: flex;
  width: 100%;
  // justify-content: space-between;
}

._individualCheck {
  margin-right: 10%;
  width: 25%;
}

._sizesFilter {
  display: flex;
  justify-content: space-between;
  width: 50%;
}

._labelFilter {
  margin: 3% 0;
  display: flex;
  align-items: center;
}

._checkbox {
  height: 1rem;
  width: 1rem;
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  border: 1px solid $black;
  appearance: none;
  outline: none;
  cursor: pointer;
}

._checkbox:checked {
  background-color: $black;
}

._filterText {
  font-family: $roboto;
  font-size: $roboto16;
  margin-left: 15%;
}

._lastButtonContainer {
  display: flex;
  margin: 5% auto 0 auto;
  justify-content: center;
}

@include responsive(lg) {
  ._content {
    margin-top: 0%;
  }
}

@include responsive(md) {
  ._span {
    display: none;
  }
  
  ._half p {
    font-size: $roboto14;
  }

}

@include responsive(sm) {
  ._span {
    display: block;
  }

  ._detailsContainter {
    flex-wrap: wrap;
    height: inherit;
  }

  ._leftContainer, ._rightContainer {
    width: 100%;
    border-right: none;
  }

  ._productNameContainer {
    ._productName {
      width: 90%;
      margin: auto;
    }
  }

  ._boxContainer {
    border: none;
    flex-wrap: wrap;
  }

  ._half:first-child {
    border: none;
  }

  ._half {
    width: 100%;

    ._price {
      width: 90%;
      margin: auto;
    }
    
    ._circlesContainer {
      margin-top: 2%;
      margin-bottom: 5%;
      margin-left: 5%;

      p {
        width: 90%;
        margin: 0;
        font-size: $roboto14;
        font-size: $roboto;
      }
    }
  }
  
  ._colorsContainer {
    border-top: 1px solid $black;
    border-bottom: 0;
    
    ._typeColors {
      margin: 5% 0;
      width: 100%;

      ._components {
        width: 90%;
        margin: auto;
      }
    }
  
    ._buttonContainer {
      display: none;
    }
  }

  ._sizesContainer {
    ._sizesContent {
      margin-bottom: 5%;
      width: 100%;

      ._sizes {
        width: 90%;
        margin: auto;
      }
    }
  }

  ._checkboxContainer {
    justify-content: flex-start;
  }

  ._individualCheck {
    margin-right: 10%;
    width: 15%;
  }
  

  ._textContent {
    justify-content: flex-start;
    margin-bottom: 2%;

    ._colorText {
      margin-right: 5%;
    }
  }

  ._lastButtonContainer {
    width: 90%;
    margin: 5% auto 5% auto;

    ._buttonContainer {
      width: 100%;
    }
  }

  ._gallerySection {
    width: calc(50% - 1px);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    height: 30vh;
  
    ._bigPic {
      width: 33.3%;
      height: calc(100% - 1px);
      border-top: 1px solid $black;
    }
    
    ._smallPic {
      width: calc(33.3% - 1px);
      height: calc(50% - 2px);
      border-right: 1px solid $black;
      border-left: 1px solid $black;
      border-top: 1px solid $black;
    } 
  }

  ._span {
    color: gray;
  }
}