@import '@styles/index.scss';

._main {
  width: 90%;
  padding: 0 5%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  margin-bottom: 3rem;
}

._tooltip {
  position: absolute;
  bottom: 4rem;
  right: 0;
  background-color: $black;
  color: $white;
  padding: 0.5rem;
  opacity: 0;
  transition: all 0.5s;
  max-width: 70%;
  &::after {
    content: '';
    position: absolute;
    top: 100%;
    right: 10%;
    border-width: 0.5rem;
    border-style: solid;
    border-color: $black transparent transparent transparent;
  }
}

._inputBox {
  font-family: $roboto;
  font-size: $roboto16;
  text-align: left;
  margin: 2rem 0px;
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0;
  display: block;
  position: relative;

  &:hover {
    ._tooltip {
      display: block;
      opacity: 1;
    }
  }
}

._input {
  margin-top: 0.5rem;
  width: 98%;
  border: none;
  border-bottom: 1px solid $black;
  padding: 1%;
  font-family: $roboto;
  font-size: $roboto16;
}

._inputError {
  border-color: $warning;
  color: $warning;
}

._paymentBox {
  width: 100%;
}

._paymentTitle {
  width: 95%;
  padding: 0.5rem 2.5%;
  height: 2rem;
  background-color: $black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
}

._title {
  font-family: $roboto;
  font-size: $robotoBold20;
  font-weight: $weight900;
  color: $white;
}

._leftSide {
  width: 40.5%;
  padding: 0 2.5%;
  padding-right: 7%;
}

._rightSide {
  width: 40.5%;
  padding: 0 2.5%;
  padding-left: 7%;
}

._formContainer {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

._customSelect {
  position: relative;
  display: block;
  border: 1px solid $black;
  width: 100%;
  z-index: 10;
  font-size: $roboto16;
  height: 2.5rem;

  select {
    border: none;
    outline: none;
    background: transparent;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0;
    margin: 0;
    display: block;
    width: 100%;
    padding: 3%;
    padding-bottom: 0;
    padding-left: 1.5rem;
    font-size: $roboto16;
    height: -webkit-fill-available;
  }

  &:after {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    right: 0;
    top: 0;
    width: 4rem;
    height: 100%;
    content: url('../../../../../public/images/backgrounds/arrow.svg');
    text-align: center;
    color: $black;
    font-size: $roboto16;
    border-left: 1px solid $black;
    font-weight: 700;
    z-index: -1;
  }
}

._selectBox {
  font-family: $roboto;
  font-size: $roboto16;
  text-align: left;
  margin: 2rem 0px;
  display: flex;
  width: 45%;
  padding: 0;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  &:hover {
    ._tooltip {
      display: block;
      opacity: 1;
    }
  }
}
._selectLabel {
  font-family: $roboto;
  font-size: $roboto16;
}

._doubleSelect {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

._radioBox {
  display: flex;
  margin-top: 2rem;
}

._radioLabel {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  width: 10rem;
  &::before {
    content: '';
    left: 0;
    top: 0;
    width: 1rem;
    height: 1rem;
    border: 1px solid $black;
    background: $white;
    transition: all 0.2s ease;
    margin-right: 2rem;
  }
}

._radioChecked {
  &::before {
    content: '';
    left: 0;
    top: 0;
    width: 1rem;
    height: 1rem;
    border: 1px solid $black;
    background: $black;
    transition: all 0.2s ease;
  }
}

._radio {
  &[type='radio']:checked, &[type='radio']:not(:checked) {
    display: none;
    ._radioLabel {
      &::before {
        content: '';
        left: 0;
        top: 0;
        width: 18px;
        height: 18px;
        border: 1px solid $black;
        background: $white;
      }
    }
  }
}
