@import '@styles/index.scss';

._content {
  margin-top: 6.5rem;
  height: calc(auto - 6.5rem);
}

._main {
  position: relative;
  height: auto;
  overflow: hidden;
}

._hidden {
  display: none;
}

._show {
  height: auto;
  display: block;
  animation: fadeIn 1s ease;
}

._bannerContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: auto;
  img {
    height: auto;
    width: 100%;
  }
}

._imageResponsive {
  display: none;
}

@keyframes fadeIn {
  0% {
    opacity: 0.7;
  }

  100% {
    opacity: 1;
  }
}

._leftShopContainer {
  position: absolute;
  bottom: 10%;
  left: 5%;
}

._rightShopContainer {
  position: absolute;
  bottom: 10%;
  right: 31vw;
}

._textTitle {
  font-family: $roboto;
  font-size: $roboto44;
  color: $white;
  margin-bottom: 5%;
  font-weight: $weight900;
}

._buttonContainer {
  width: 250px;
}

@include responsive(xxl) {
  ._rightShopContainer {
    right: 15vw;
  }
}

@include responsive(lg) {
  ._content {
    margin-top: 0%;
  }

  ._textTitle {
    font-size: $roboto26;
  }

  ._buttonContainer {
    width: 200px;
  }

  ._rightShopContainer {
    right: 17vw;
  }
}

@include responsive(md) {
  ._leftShopContainer {
    top: 30%;
    left: 0;
    right: 0;
    margin-left: 5%;
    margin-right: 5%;
  }

  ._imageResponsive {
    display: block;
  }
  ._imageWeb {
    display: none;
  }

  ._rightShopContainer {
    left: 0;
    right: 0;
    bottom: 5vh;
    margin-left: 5%;
    margin-right: 5%;
  }

  ._buttonContainer {
    width: 100%;
  }
}
