@import '@styles/index.scss';

._content {
//   height: 100%;
//   display: flex;
//   justify-content: flex-start;
//   align-items: flex-start;
// //   width: 85%;
// //   margin: auto;
//   flex-direction: column;
}

._main {
    position: relative;
//   margin-top: 150px;
}

._hidden {
  display:  none;
}

._show {
  display: block;
  animation: fadeIn 10s ease;
}

._img{
  width: 100%;
  height: 85vh;
}

@keyframes fadeIn {
  0% {
    opacity: .4;
  }

  100% {
    opacity: 1;
  }
}

._leftShopContainer {
    position: absolute;
    bottom: 10%;
    left: 5%;
}

._rightShopContainer {
    position: absolute;
    bottom: 10%;
    right: 15%;
}

._textTitle {
    font-family: $roboto;
    font-size: $roboto44;
    color: $white;
    margin-bottom: 5%;
}

._buttonContainer {
    width: 250px;
}