@import '@styles/index.scss';

._container {
  width: 100%;
  cursor: pointer;
  border: 1px solid;
  height: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;	
  transition: all 500ms cubic-bezier(0.77, 0, 0.175, 1);	
  user-select: none;
  background: transparent;
}

._buttonText {
  font-family: $roboto;
  padding: 5%;
  text-align: center;
}

._blackHover:hover {
  background-color: $black;
  border-color: 1px solid $black;

    ._buttonText {
      color: $white;
    }
}

._whiteHover{
  background-color: $black;
}

._whiteHover:hover {
  background-color: $white;
  border-color: 1px solid $black;

    ._buttonText {
      color: $black;
    }
}