@import '@styles/index.scss';

@keyframes enter {
  from {
    opacity: 0;
    right: -100%;
  }
  to {
    opacity: 1;
    right: 0%;
  }
}

._main {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0px;
  z-index: 1000;
  background-color: $loaderBackground;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

._bagContainer {
  width: 25rem;
  position: relative;
  height: 96%;
  background: $white;
  padding: 2% 0;
  right: 0%;
  animation: enter 0.5s;
}

._bagContent {
  height: calc(100% - 2rem);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

._closeBox {
  display: flex;
  width: 96%;
  padding: 0% 2%;
  height: 2rem;
  align-items: center;
  justify-content: flex-end;
}

._close {
  width: 1.5rem;
  height: 1.5rem;
  display: flex;
  font-family: $roboto;
  font-size: $roboto16;
  border: 1px solid $black;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

._titleContainer {
  padding: 5% 0;
  border-bottom: 1px solid $black;
}

._titleBox {
  width: 90%;
  padding: 0% 5%;
}

._tableContainer {
  height: 90%;
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: wrap;
  width: 90%;
  padding: 5% 5%;
  overflow-y: auto;
}

._button {
  width: 100%;
}

._totalSubmit {
  width: 90%;
  padding: 0% 5%;
}

._subtotal {
  margin-bottom: 1rem;
  display: flex;
  justify-content: space-between;
}

._title {
  font-family: $roboto;
  font-size: $robotoBold32;
}
._titleEmpty {
  text-align: center;
}

._itemsTitle {
  font-family: $roboto;
  font-size: $robotoBold20;
  font-weight: bold;
}

._bagItem {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 16rem;
  overflow: hidden;
  margin: 1rem 0px;
}

._itemImage {
  width: 40%;
  height: 16rem;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  img {
    width: auto;
    height: 100%;
  }
}

._itemContent {
  height: 16rem;
  width: 50%;
  padding: 0% 5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

._itemName {
  display: flex;
  width: 100%;
  border-bottom: 1px solid $black;
  padding: 2.5% 0%;
  padding-left: 5%;
  overflow: hidden;
  font-family: $roboto;
  font-size: $robotoBold20;
  text-transform: uppercase;
}

._data{
  margin-left: 5%;
}

._price {
  display: block;
  width: 100%;
  padding: 5% 0%;
  font-family: $roboto;
  font-size: $robotoBold20;
  font-weight: bold;
}

._button {
  display: block;
  width: 100%;
}

._color {
  background-color: white;
  display: block;
  border: 1px solid black;
  width: 1rem;
  height: 1rem;
  border-radius: 20rem;
  margin-left: 5%;
}
