@import '@styles/index.scss';

@keyframes enter {
  from {
    opacity: 0;
    right: -100%;
  }
  to {
    opacity: 1;
    right: 0%;
  }
}

._main {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0px;
  z-index: 1000;
  background-color: $loaderBackground;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

._bagContainer {
  width: 20rem;
  position: relative;
  height: 96%;
  background: $white;
  padding: 2% 0;
  right: 0%;
  animation: enter 0.5s;
}

._bagContent {
  height: calc(100% - 2rem);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

._closeBox {
  display: flex;
  width: 96%;
  padding: 0% 2%;
  height: 2rem;
  align-items: center;
  justify-content: flex-end;
}

._close {
  width: 1.5rem;
  height: 1.5rem;
  display: flex;
  font-family: $roboto;
  font-size: $roboto16;
  border: 1px solid $black;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

._titleContainer {
  padding: 5% 0;
  border-bottom: 1px solid $black;
}

._titleBox {
  width: 90%;
  padding: 0% 5%;
}

._tableContainer {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90%;
  padding: 0% 5%;
}

._button {
  width: 100%;
}

._totalSubmit{
  width: 90%;
  padding: 0% 5%;
}

._subtotal{
  margin-bottom: 1rem;
  display: flex;
  justify-content: space-between;
}

._title{
  font-family: $roboto;
  font-size: $robotoBold32;
}
._titleEmpty{
  text-align: center;
}

._itemsTitle{
  font-family: $roboto;
  font-size: $robotoBold20;
  font-weight: bold;
}

