@import '@styles/index.scss';

@mixin fontText {
  font-family: $roboto;
  font-size: $roboto17;
  text-transform: uppercase;
  text-transform: capitalize;
}

._topLine {
  border-top: 1px solid $black;
}

._mainRow {
  width: 90%;
  margin: 3% auto;
}

._tableRow {
  display: flex;
}

._itemImage {
  width: 40%;
}

._content {
  width: 60%;
  padding-left: 5%;
}

._color {
  background-color: $white;
  display: block;
  border: 1px solid $black;
  width: 1rem;
  height: 1rem;
  border-radius: 20rem;
  margin-left: 5%;
}

._productName {
  @include fontText;
  border-bottom: 1px solid $black;
  padding: 5% 0%;
  height: 1.2rem;
  text-transform: uppercase;
}

._colorSection {
  @include fontText;
  display: flex;
  border-bottom: 1px solid $black;
  padding: 5% 0%;
  height: 1.2rem;
}

._sizeSection {
  @include fontText;
  border-bottom: 1px solid $black;
  padding: 5% 0%;
  height: 1.2rem;
  display: flex;

  ._data {
    margin-left: 5%
  }
}

._bagSection {
  @include fontText;
  border-bottom: 1px solid $black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 1.2rem;
  padding: 5% 0%;
}

._infoContent {
  display: flex;

  ._dataText {
    margin-left: 5%;
  }
}

._dataBox {
  display: flex;
}

._quantityButton {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: $roboto24;
  font-family: $roboto;
  width: 1.2rem;
  height: 1.2rem;
  border: 1px solid $black;
  margin-left: 1rem;
  cursor: pointer;
  transition: all 0.5s;
  &:hover {
    background-color: $black;
    color: $white;
  }
}

._dataPrice {
  font-family: $roboto;
  font-size: $roboto17;
  font-weight: 700;
  height: 1.2rem;
  padding: 5% 0%;
}

._deleteBox {
  width: auto;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

._deleteButton {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: $roboto20;
  width: 1.5rem;
  height: 1.5rem;
  font-family: $roboto;
  border: 1px solid $black;
  margin-right: 0.5rem;
  cursor: pointer;
  transition: all 0.5s;
  &:hover {
    background-color: $black;
    color: $white;
  }
}