@import '@styles/index.scss';

._productImage {
  width: 100%;
  height: 100%;
  border: 1px solid $black;
  position: relative;

  ._bag {
    position: absolute;
    bottom: 5%;
    right: 5%;
    cursor: pointer;
  }
}