@import '@styles/index.scss';

._content {
  width: 90%;
  margin: 0 auto 3% auto;
}

._title {
  margin: 3% auto;
  color: $black;
  text-transform: uppercase;
  font-family: $roboto;
  font-size: $roboto26;
}

._productsContainer {
  display: flex;
}

._products {
  display: flex;
  flex-direction: row;
  width: 100%;

  ._product {
    height: 75vh;
    margin-right: 1.3%;
    width: 24%;
    
    &:last-child {
      margin-right: 0px;
    }
  }
}

._noProductsText {
  font-family: $roboto;
  font-size: $roboto44;
  color: $boulder;
  text-align: center;
  width: 100%;
}

@include responsive(md) {
  ._products {
    flex-wrap: wrap;
    justify-content: space-between;

    > ._product {
      width: 48%;
      margin: 0 0 5% 0;
    }
  }
}

@include responsive(sm) {
  ._titleContainer {
    margin: 10% 0;
  }

  ._title {
    text-align: center;
  }

  ._productsContainer {
    margin: 0 0 15% 0;
  }
  ._products {
    > ._product {
      height: 35vh;
    }
  }
}