@import '@styles/index.scss';

._socialContent {
  display: flex;
  height: 65vh;
}

._socialImageContainer {
  height: inherit;
  width: 50%;
}


._socialInfoContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
  font-family: $roboto;
}

._socialContainer {
  margin-left: 3rem;
  margin-right: 6rem;
}

._socialTitle {
  font-size: $roboto44;
}

._socialDescription {
  font-size: $roboto18;
  margin: 2rem 0;
}

._buttonContainer {
  width: 250px;
}

@include responsive(md) {
  ._socialContent {
    flex-direction: column;
    height: 95vh;
    
    ._socialImageContainer {
      width: 100%;
    }

    ._socialInfoContainer {
      width: 100%;
    }
  }

  ._socialContainer {
    width: 90%;
    margin: 2rem auto;
  }

  ._socialTitle {
    font-size: $roboto38;
  }

  ._socialDescription {
    font-size: $roboto18;
    margin: 1rem 0;
  }
  ._buttonContainer {
    width: -webkit-fill-available;
  }
}

@include responsive(sm) {
  ._socialTitle {
    font-size: $roboto24;
    font-weight: 900;
  }

  ._socialDescription {
    font-size: $roboto18;
  }
}