@import '@styles/index.scss';

._sidebarContainer {
  width: 30%;
}

._genderContainer, ._colorsContainer, ._sizesContainer {
  width: 85%;
}

._customSelect {
  position: relative;
  display: flex;
  border: 1px solid $black;
  width: 100%;
  z-index: 10;
  font-size: $roboto18;
  height: 2.5rem;
  align-items: center;
  cursor: pointer;

  select {
    border: none;
    outline: none;
    background: transparent;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0;
    margin: 0;
    display: block;
    width: 100%;
    padding: 3%;
    font-size: 14px;
    height: -webkit-fill-available;
  }

  &:after {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    right: 0;
    top: 0;
    width: 50px;
    height: 100%;
    content: url('../../../../../public/images/backgrounds/arrow.svg');
    text-align: center;
    color: $black;
    font-size: 18px;
    border-left: 1px solid $black;
    font-weight: 700;
    z-index: -1;
  }

  ._customSelectText {
    font-family: $roboto;
    padding-left: 15%;
  }
}

._genderFilter, ._categoriesFilter {
  display: flex;
  flex-direction: column;
}

._labelFilter {
  margin: 3% 0;
  display: flex;
  align-items: center;
}

._checkbox {
  height: 1rem;
  width: 1rem;
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  border: 1px solid $black;
  appearance: none;
  outline: none;
  cursor: pointer;
}

._checkbox:checked {
  background-color: $black;
}

._filterText {
  font-family: $roboto;
  font-size: $roboto16;
  margin-left: 5%;
}

._sizesFilter {
  display: flex;
  justify-content: space-between;
  width: 50%;
}

._show {
  display: flex;
  padding: 10%;
}

._hide {
  display: none;
}