@import '../../../public/styles/index.scss';

@mixin menu {
  background-color: $white;
  position: fixed;
  // height: 100%;
  width: 100%;
  top: 0px;
  left: 0px;
  z-index: 997;
  display: flex;
  justify-content: center;
}

@mixin regularText {
  font-family: $roboto;
  font-size: $roboto16;
}

._mainStatic {
  @include menu;
  transform: translateY(-100%)
}

._mainIn {
  @include menu;
  animation: menu-in 1s linear forwards;
}

._mainOut{
  @include menu;
  animation: menu-out 1s linear forwards;
}

@keyframes menu-in {
  from {
    transform: translateY(-100%);
  }

  to {
    transform: translateY(0%);
  }
}

@keyframes menu-out {
  from {
    transform: translateY(0%);
  }

  to {
    transform: translateY(-100%);
  }
}

._content {
  margin-top: 4rem;
  width: 100%;
  flex-shrink: 1;
  display: flex;
  flex-direction: column;
}

._internalLinks {
  background-color: $black;

  ._internalSection {
    border-bottom: 1px solid $white;
    color: $white;
    padding: 0.8rem 0%;

    ._linkText {
      @include regularText;
      margin-left: 5%;
    }
  }

  ._homeSection {
    display: flex;
    justify-content: space-between;
  }
}

._whiteArrow {
  cursor: pointer;
  margin-right: 5%;
}

._internalSettings {
  width: 90%;
  margin: 3vh auto;

  ._settingsContainer {
    display: flex;
    justify-content: space-between;
    padding: 0.5vh 0;

    ._iconSettings {
      display: flex;
      align-items: center;

      ._icon {
        margin-right: 3vw;
      }

      ._settingText {
        @include regularText;
        color: $tundora;
      }
    }
  }
}

._invisibleIcon {
  width: 16px;
  margin-right: 3vw;
}

._lightText {
  @include regularText;
  display: flex;
  align-items: center;
  color: lightGray;
}

._redText {
  @include regularText;
  color: $red;
}

._internalCopyright {
  border-top: 2px solid $tundora;

  ._copyrightContainer {
    @include regularText;
    color: $boulder;
    width: 90%;
    margin: 3vh auto;
    height: 17vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    ._rulesContainer {
      ._rules {
        margin-bottom: 1rem;
      }
    }

    ._copyContainer {
      display: flex;
      justify-content: space-between;
      align-items: center;

      ._brandsContainer {
        display: flex;

        ._marginLogo {
          margin-right: 1rem;
        }
      }
    }
  }
}

._logo {
  height: 2rem;
}

._show {
  @include regularText;
  display: block;
  border-bottom: 1px solid $white;
}

._hide {
  display: none;
}

._listed {
  overflow-y: scroll;
  height: 90vh;
}

._noListed {
  height: inherit;
  overflow-y: auto;
}

._shoppingContainer {
  width: 100%;
  color: $white;

  ._shoppingTitle {
    background-color: $codGray;
    padding: 0.7rem 0;

    ._title {
      width: 85%;
      margin: auto;
    }
  }

  ._shoppingSections {
    width: 85%;
    margin: 1rem auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 5rem;

    ._filter {
      height: 33.2%;
      width: 25%;
    }
  }
}