@import '@styles/index.scss';

._content {
  margin-top: 6.5rem;
}

._main {
  position: relative;
  height: 85vh;
}

._img {
  width: 100%;
  height: inherit;
}

@include responsive(lg) {
  ._content {
    margin-top: 0%;
  }
}