@import '@styles/index.scss';

._mainContent {
  margin: 9.5rem 5% 3% 0;
  display: flex;
  position: relative;
}

._productsContainer {
  width: 70%;
  display: flex;
  flex-direction: column;

  ._productContainer {
    display: flex;
    flex-wrap: wrap;

    ._item {
      width: 24%;
      height: 25rem;
      margin-bottom: 3%;
      margin-left: 1%;
    }
  }
}

._paginationContainer {
  display: flex;
  align-self: center;
  justify-content: center;
  width: 100%;
  margin: 5% 0 2% 0;
}

._customSelect {
  position: relative;
  display: flex;
  border: 1px solid $black;
  width: 100%;
  z-index: 10;
  height: 2.5rem;
  align-items: center;
  cursor: pointer;

  select {
    border: none;
    outline: none;
    background: transparent;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0;
    margin: 0;
    display: block;
    width: 100%;
    padding: 3% 3% 3% 7%;
    font-size: 14px;
    height: -webkit-fill-available;
    text-transform: uppercase;
  }

  &:after {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    right: 0;
    top: 0;
    width: 50px;
    height: 100%;
    content: url('../../../../../public/images/backgrounds/arrow.svg');
    text-align: center;
    color: $black;
    font-size: 18px;
    border-left: 1px solid $black;
    font-weight: 700;
    z-index: -1;
  }

  ._customSelectText {
    font-family: $roboto;
    font-size: $roboto18;
    padding-left: 15%;
  }
}

._sortByContainer {
  width: 25%;
  align-self: flex-end;
  margin-bottom: 5%;
}

._colorFilter {
  display: flex;
  flex-wrap: wrap;
}

._noProductsText {
  font-family: $roboto;
  font-size: $roboto44;
  color: $boulder;
  text-align: center;
  width: 100%;
}

._recentlyContainer {
  width: 90%;
  margin: 0 auto 5% auto;
}

._recentlyTitleContainer {
  margin-bottom: 2%;

  .recentlyTitle {
    text-transform: uppercase;
    font-family: $roboto;
    font-size: $roboto24;
    color: $black;
    font-weight: 800;
  }
}

._recentsContainer {
  display: flex;
  justify-content: flex-start;
}

._buttonContainer {
  display: none;
}

._sidebarContent {
  width: 30%;

  ._filterResponsive {
    display: none;
  }
}

._filterButton {
  display: none;
}

@include responsive(lg) {
  ._mainContent {
    margin: 3.5rem 5% 3% 0;
  }

  ._productsContainer {
    width: 70%;
    margin: auto;

    ._productContainer {
      flex-wrap: wrap;
      justify-content: space-between;

      ._item {
        width: 32%;
        height: 23rem;
      }

      ._item:nth-child(3n) {
        margin-right: 0;
      }
    }
  }

  ._sortByContainer {
    width: 35%;
  }
}

@include responsive(md) {
  ._mainContent {
    margin: 5% 5% 0 0;
  }

  ._sortByContainer {
    width: 45%;
  }

  ._customSelect {
    ._customSelectText {
      padding-left: 5%;
    }
  }

  ._recentlyTitleContainer {
    text-align: center;
    margin: 5% 0;

    .recentlyTitle {
      text-transform: uppercase;
      font-family: $roboto;
      font-size: $roboto26;
      color: $black;
      font-weight: 800;
    }
  }

  ._productsContainer {
    width: 70%;
    margin: auto;

    ._productContainer {
      justify-content: space-between;

      ._item {
        width: 48%;
        margin-bottom: 5%;
      }
    }
  }

  ._recentsContainer {
    flex-wrap: wrap;
  }
  ._recentlyContent {
    width: 50%;
  }

  ._buttonContainer {
    margin: 3% 0;
    width: 48%;
    display: block;
  }

  ._customSelect {
    font-size: $roboto14;
  }
}

@include responsive(sm) {
  ._mainContent {
    margin: auto;
  }

  ._sortByContainer {
    width: 100%;
    margin: 5% 0 10% 0;

    select {
      padding: 2% 3% 2% 5%;
    }

    &:after {
      width: 5rem;
    }
  }

  ._sidebarContent {
    background-color: $simpleGray;
    width: 100%;
    position: fixed;
    z-index: 99;
    bottom: 0;

    ._filterButton {
      cursor: pointer;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 3rem;
      margin: 3% 0;
    }

    ._hide {
      display: none;
    }
  }

  ._grayBar {
    width: 30%;
    height: 0.2rem;
    margin-bottom: 3%;
    background-color: $gray;
    border-radius: 5px;
  }

  ._grayBarText {
    font-family: $roboto;
    font-size: $roboto18;
  }

  ._productsContainer {
    width: 90%;

    ._productContainer {
      justify-content: space-between;

      ._item {
        width: 48%;
        height: 30vh;
        margin-bottom: 5%;
        margin-left: 0;
      }
    }
  }

  ._customSelect {
    &:after {
      width: 30%;
    }
  }

  ._paginationContainer {
    width: 100%;
    margin: 10% auto;
  }
}
