@import '@styles/index.scss';

._container {
  width: 100%;
  height: 100%;
}

._productContainer {
  width: 100%;
  height: 100%;
}

._imageProductContainer {
  height: 70%;
  position: relative;

  ._viewMore, ._addToCart, ._addToCartNoDetails {
    display: none;
  }

  &:hover {
    ._addToCart {
      cursor: pointer;
      position: absolute;
      bottom: 0;
      background-color: $white;
      width: calc(100% - 2.5px);
      border-top: 1px solid $black;
      border-right: 1px solid $black;
      border-left: 1px solid $black;
      height: 2.5rem;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  &:hover {
    ._addToCartNoDetails {
      cursor: pointer;
      position: absolute;
      bottom: 2.5rem;
      background-color: $white;
      width: calc(100% - 1px);
      border-top: 1px solid $black;
      height: 2.5rem;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  &:hover {
    ._viewMore {
      cursor: pointer;
      position: absolute;
      bottom: 0;
      background-color: white;
      width: calc(100% - 1px);
      border-top: 1px solid $black;
      height: 2.5rem;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}

._imageNoDetailProductContainer {
  height: 100%;
  &:hover {
    ._addToCart {
      bottom: 2.5rem;
    }
  }
}

._specsContainer {
  height: 30%;
  border: 1px solid $black;
  display: flex;
  justify-content: flex-start;
  align-items: center;

  ._bag {
    display: none;
  }

  ._specs {
    margin-left: 10%;
    font-family: $roboto;
    font-size: $roboto18;
  }
}

._colorSelector {
  display: flex;
}

._productNameContainer,
._colorSelector {
  margin-bottom: 0.7rem;
}

._addToCartText {
  font-family: $roboto;
  font-size: $roboto18;
}

@include responsive(xl) {
  ._container {
    width: -webkit-fill-available;
  }
}

@include responsive(sm) {
  ._productName {
    font-size: $roboto14;
  }

  ._colorSelector {
    margin-bottom: 0;
  }

  ._specsContainer {
    position: relative;
    
    ._bag {
      position: absolute;
      bottom: 5%;
      right: 5%;
      display: block;
    }
  }

  ._productNameContainer {
    margin-bottom: 0;
  }

  ._producSizes {
    font-size: $roboto14;
  }

  ._imageProductContainer {    
    &:hover {
      ._addToCart {
        display: none;
      }
    }
  }
}

