@import '@styles/index.scss';

._content {
  display: flex;
}

._contactFormContainer {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

._imageContactContainer {
  display: block;
  width: 50%;
}

@include responsive(md) {
  ._imageContactContainer {
    display: none;
  }

  ._contactFormContainer {
    width: 100%;
  }
}