@import '@styles/index.scss';

@keyframes enter {
  from {
    opacity: 0;
    top: 0;
  }
  to {
    opacity: 1;
    top: 3rem;
  }
}

._main {
  position: fixed;
  width: 20rem;
  height: 3rem;
  top: 3rem;
  margin: 0 auto;
  left: 0;
  right: 0;
  background-color: $white;
  z-index: 10000;
  animation: enter 1s;
  display: flex;
  align-items: center;
  justify-content: center;
}

._message {
  font-family: $roboto;
  font-size: $roboto20;
}

._warning {
  color: $warning;
}

._borderWarning {
  border: 1px solid $warning;
}

._success {
  color: $success;
}

._borderSuccess {
  border: 1px solid $success;
}
