@import '@styles/index.scss';

._content {
  width: 90%;
  margin: auto;
}

._title {
  margin: 3% auto;
  color: $black;
  text-transform: uppercase;
  font-family: $roboto;
  font-size: $roboto26;
}

._productsContainer {
  display: flex;
  justify-content: space-between;
  margin-bottom: 3%;
}

._products {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  margin-right: 5%;

  ._product {
    height: 75vh;
    width: 25%;
  }
}

._noContainer {
  margin-top: 3%;
}

@include responsive(md) {
  ._products {
    flex-wrap: wrap;
    justify-content: space-between;
    margin-left: 5%;

    > ._product {
      width: 48%;
      margin: 0 0 5% 0;
    }
  }
}

@include responsive(sm) {
  ._titleContainer {
    margin: 10% 0;
  }

  ._title {
    text-align: center;
  }

  ._productsContainer {
    margin: 0 0 15% 0;
  }
  ._products {
    > ._product {
      height: 35vh;
    }
  }
}