@import '@styles/index.scss';

._content {
  width: 90%;
  margin: auto;
  padding: 8% 0;
  font-family: $roboto;
}

._formTitleContainer {
  ._formTitle {
    text-align: center;
    font-size: $roboto32;
    font-weight: $weight900;
    font-family: $roboto;
  }
}

._formContent {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

._formContainer {
  width: 45%;
  font-size: $roboto18;

  &:last-child {
    width: 100%;
  }
}

._inputForm {
  border-top: 0;
  border-right: 0;
  border-left: 0;
  border-bottom: 1px solid $gray;
  width: -webkit-fill-available;
  padding: 2% 3%;
  width: 94%;
}

._labelForm {
  color: $tundora;
  margin: 9% 0;
}

._labelMessage {
  margin: 5% 0;
}

._selectForm {
  width: 100%;
}

._buttonContainer {
  width: 250px;
  margin: 5% auto 0 auto;
}

._customSelect {
  position: relative;
  display: block;
  border: 1px solid $black;
  z-index: 10;
  font-size: $roboto18;
  height: 2.5rem;

  select {
    border: none;
    outline: none;
    background: transparent;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0;
    margin: 0;
    display: block;
    width: 100%;
    padding: 3%;
    font-size: 14px;
    height: -webkit-fill-available;
    padding-right: 52px;
  }

  &:after {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    right: 0;
    top: 0;
    width: 50px;
    height: 100%;
    content: url('../../../public/images/backgrounds/arrow.svg');
    text-align: center;
    color: $black;
    font-size: 18px;
    border-left: 1px solid $black;
    font-weight: 700;
    z-index: -1;
  }
}

._customSelectDown{
  &:after {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    right: 0;
    top: 0;
    width: 50px;
    height: 100%;
    content: url('../../../public/images/backgrounds/arrow.svg');
    text-align: center;
    color: $black;
    font-size: 18px;
    border-right: 1px solid $black;
    border-left: none;
    font-weight: 700;
    z-index: -1;
    transform: rotate(180deg);
  }
}

@include responsive(sm) {
  ._formContainer {
    width: 100%;
  }

  ._formTitleContainer {
    ._formTitle {
      font-size: $roboto24;
      font-weight: 900;
      text-align: start;
    }
  }

  ._labelForm {
    font-size: $roboto16;
    margin: 5% 0;
  }

  ._buttonContainer {
    width: -webkit-fill-available;
    margin: 8% auto 0 auto;
  }

  ._selectForm {
    font-size: $roboto20;
  }
}

._inputError{
  color: $warning;
  border-color: $warning;
}
