@import '@styles/index.scss';

._main {
  margin: auto;
  position: fixed;
  z-index: 99;
  width: 100%;
  background: $white;
  top: 0;
}
._timerContainer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 40px;
  box-sizing: border-box;
  padding: 0 1rem;
  padding-right: 0;
  p {
    font-family: $roboto;
    color: black;
    font-size: $roboto18;
  }
}
._timerInfo {
  display: flex;
}

._timerClose {
  display: block;
  margin-right: 1rem;
  cursor: pointer;
}
._timerContent {
  display: flex;
  width: 20rem;
  padding: 0.5rem;
  padding-right: 1rem;
  height: 100%;
  box-sizing: border-box;
  justify-content: space-between;
  align-items: center;
  background-color: #ffdb00;
}
._topContainer {
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 4rem;
}

._logoContainer {
  width: 15%;
  margin-left: 1rem;
}

._logoBox {
  cursor: pointer;
  width: min-content;
  height: min-content;
}

._searchContainer {
  position: relative;
  height: 100%;
  width: 20%;

  ._inputContainer {
    height: 100%;
  }

  ._input {
    height: -webkit-fill-available;
    width: 88%;
    font-family: $roboto;
    margin: 0;
    border: 3px solid $black;
    padding: 3% 5%;
  }

  ._inputImg {
    position: absolute;
    bottom: 0;
    top: 0;
    right: 7%;
    width: 15px;
    height: inherit;
  }
}

._bottomContainer {
  background-color: $black;
  position: relative;
}

._bottomSectionsContainer {
  height: 2.5rem;
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

._topSections {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 85%;

  ._topSection {
    display: flex;
    align-items: center;
    margin-left: 3rem;
    cursor: pointer;
  }
}

._topText {
  font-family: $roboto;
  color: $tundora;
  font-size: $roboto16;
  margin: 0;
  margin-left: 0.5rem;
  padding: 0;
  background: none;
  border: none;
  &::-ms-expand {
    display: none;
  }
}

._rightMargin {
  margin-right: 0.5rem;
}

._bottomSections {
  height: inherit;
  display: flex;
  align-items: center;
  width: 60%;

  ._bottomSection {
    display: flex;
    align-items: center;
    height: inherit;
    margin-right: 1.5rem;
    cursor: pointer;
    border: 1.5px solid transparent;
    border-top: 2px transparent;
    border-bottom: 2px transparent;
    transition: all 0.5s;
    &:hover {
      transition: all 0.5s;
      border: 1.5px solid $white;
      border-top: 2px transparent;
      border-bottom: 2px transparent;
    }
  }
}

._bottomText {
  font-family: $roboto;
  color: $white;
  font-size: $roboto16;
  margin-bottom: 0;
  padding: 0 1rem;
  text-transform: uppercase;
}

._responsive {
  display: none;
}

._categoriesShow {
  display: block;
  position: absolute;
  background-color: $white;
  top: 100%;
  width: 100%;
}

._categoriesContainer {
  width: 90%;
  margin: 3% auto;
  font-family: $roboto;
  display: flex;
}

._halfCategories {
  width: 50%;
}

._listContainer {
  display: flex;

  ._listColum {
    margin-right: 5%;
    height: 100%;
    width: 15%;

    > h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      font-size: $roboto20;
      font-weight: 700;
      margin-bottom: 25%;
      height: 10%;
    }

    p {
      font-size: $roboto19;
      margin-bottom: 15%;
      height: 10%;
    }
  }
}

._currencySelect {
  text-align: left;
}

._categoriesHide {
  display: none;
}

._imageContainer {
  height: 35vh;
  width: 25vw;
}

._imageCategories {
  display: flex;
  flex-direction: column;
  align-items: flex-end;

  ._imageDescription {
    display: flex;
    justify-content: space-between;
    margin-top: 3%;
    width: 25vw;
  }
}

._mainText {
  font-size: $roboto20;
  font-weight: 700;
  margin-bottom: 25%;
  height: 10%;
}

._subText {
  font-size: $roboto19;
}

@include responsive(lg) {
  ._responsive {
    display: block;
    height: 4rem;
  }

  ._main {
    display: none;
  }
}

._dropdownUser {
  position: relative;
}

._dropdownUserMenu {
  margin-top: 0.5rem;
  position: absolute;
  z-index: 10;
  background-color: $boxGray;
  max-width: 10rem;
  animation: down 1s;
  overflow: hidden;
  right: 0px;
}

._dropdownUserItem {
  font-family: $roboto;
  font-size: $roboto14;
  color: $black;
  text-align: center;
  padding: 0.5rem 1rem;
  display: block;
  transition: all 0.5s;
  &:hover {
    background-color: $black;
    color: $white;
  }
}

._arrowUser {
  margin-left: 0.5rem;
}

@keyframes down {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
