@import '@styles/index.scss';

._container {
  margin: auto;
}

._topContainer {
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 4rem;
}

._logoContainer {
  width: 15%;
  margin-left: 1rem;
}

._searchContainer {
  position: relative;
  height: 100%;
  width: 20%;

  ._inputContainer {
    height: -webkit-fill-available;
  }

  ._input {
    height: -webkit-fill-available;
    width: -webkit-fill-available;
    font-family: $roboto;
    margin: 0;
    border: 3px solid $black;
    padding: 3% 5%;
  }

  ._inputImg {
    position: absolute;
    bottom: 0;
    top: 0;
    right: 7%;
    width: 15px;
    height: inherit;
  }
}

._bottomContainer {
  background-color: $black;
}

._bottomSectionsContainer {
  height: 2.5rem;
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

._topSections {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 85%;

  ._topSection {
    display: flex;
    align-items: center;
    margin-left: 3rem;
    cursor: pointer;
  }
}

._topText {
  font-family: $roboto;
  color: $tundora;
  font-size: $roboto16;
  margin: 0;
  margin-left: 0.5rem;
  padding: 0;
  background: none;
  border: none;
  &::-ms-expand {
    display: none;
  }
}

._rightMargin {
  margin-right: 0.5rem;
}

._bottomSections {
  height: inherit;
  display: flex;
  align-items: center;
  width: 60%;

  ._bottomSection {
    display: flex;
    align-items: center;
    height: inherit;
    margin-right: 1.5rem;
    cursor: pointer;
    border: 1.5px solid transparent;
    border-top: 2px transparent;
    border-bottom: 2px transparent;
    transition: all 0.5s;
    &:hover {
      transition: all 0.5s;
      border: 1.5px solid $white;
      border-top: 2px transparent;
      border-bottom: 2px transparent;
    }
  }
}

._bottomText {
  font-family: $roboto;
  color: $white;
  font-size: $roboto16;
  margin-bottom: 0;
  padding: 0 1rem;
  text-transform: uppercase;
}
