@import '@styles/index.scss';

._content {
  width: 90%;
  margin: 3% auto;
}

._product {
  width: 24%;
  height: 70vh;
}

._outstandingTitle {
  font-family: $roboto;
  font-size: $roboto44;
}

._productContainer {
  display: flex;
  justify-content: space-between;
  margin-top: 1%;
  margin-bottom: 3%;
}

._buttonContainer {
  width: 24%;
}

@include responsive(md) {
  ._content {
    margin: 2rem auto;
  }
  ._outstandingTitle {
    font-size: $roboto32;
  }

  ._productContainer {
    flex-wrap: wrap;
  }

  ._product {
    width: 48%;
    margin-bottom: 4%;
  }

  ._buttonContainer {
    width: 48%;
  }
}

@include responsive(sm) {
  ._product {
    height: 50vh;
  }
}
