@import '@styles/index.scss';

._content {
    width: 90%;
    margin: 3% auto;
    max-width: 75rem;
}

._outstandingTitle {
    font-family: $roboto;
    font-size: $roboto44;
}

._productContainer {
    display: flex;
    justify-content: space-between;
    margin-top: 1%;
    margin-bottom: 3%;
}

._buttonContainer {
    width: 17rem;
}

@include responsive(xl) {
    ._buttonContainer {
        width: 15rem;
    }
}