$white:             #FFFFFF;
$loaderBackground:  rgba(0,0,0,0.7);

$black:             #000000;
$codGray:           #130E0E;
$mineShaft:         #212121;
$tundora:           #464646;
$boulder:           #7B7B7B;
$gray:              #707070;
$warning:           #f81b1b;
$lightGray:         #A7A7A7;
$red:               #F81B1B;
$whiteGray:         #DEDEDE;
$success:             #0DCE06;