@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700;900&display=swap');

$roboto: 'Roboto', sans-serif;

$weight100: 100;
$weight400: 400;
$weight700: 700;
$weight900: 900;

$roboto12: 0.5rem;
$roboto14: 0.625rem;
$roboto15: 0.688rem;
$roboto16: 0.75rem;
$roboto17: 0.813rem;
$roboto18: 0.875rem;
$roboto19: 0.938rem;
$roboto20: 1rem;
$roboto22: 1.125rem;
$roboto24: 1.25rem;
$roboto26: 1.375rem;
$roboto32: 1.75rem;
$roboto38: 2.125rem;
$roboto44: 2.363rem;
$robotoBold15: 0.688rem;
$robotoBold20: 1rem;
$robotoBold28: 1.5rem;
$robotoBold32: 1.75rem;
$robotoBold82: 4rem;