@import '@styles/index.scss';

._colorContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25px;
  height: 25px;
  position: relative;
  cursor: pointer;

  ._colorCircle {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: 1px solid $black;
    position: relative;
  }

  &:hover {
    ._colorCircleHover {
      width: 21px;
      height: 21px;
      border-radius: 50%;
      border: 1px solid $black;
      background-color: transparent;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      margin: auto;
    }
  }
}

._selected {
  width: 21px;
  height: 21px;
  border-radius: 50%;
  border: 1px solid $black;
  background-color: transparent;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

@include responsive(sm) {
  ._colorContainer {
    width: 20px;
    height: 20px;

    ._colorCircle {
      width: 10px;
      height: 10px;
    }

    &:hover {
      ._colorCircleHover {
        width: 16px;
        height: 16px;
      }
    }
  }

  ._selected {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    border: 1px solid $black;
    background-color: transparent;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
  }
  
}
