@import '@styles/index.scss';

._main{
  width: 90%;
  padding: 0% 5%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

._buttonContainer{
  width: 18rem;
  margin: 1rem 3rem;
}