@import '@styles/index.scss';

._recentlyContainer {
  width: 90%;
  margin: 0 auto 5% auto;
}

._recentlyTitleContainer {
  margin-bottom: 2%;

  .recentlyTitle {
    text-transform: uppercase;
    font-family: $roboto;
    font-size: $roboto24;
    color: $black;
    font-weight: 800;
  }
}

._recentsContainer {
  display: flex;
  justify-content: flex-start;
}

._buttonContainer {
  display: none;
}

@include responsive(md) {
  ._recentlyTitleContainer {
    text-align: center;
    margin: 5% 0;

    .recentlyTitle {
      text-transform: uppercase;
      font-family: $roboto;
      font-size: $roboto26;
      color: $black;
      font-weight: 800;
    }
  }

  ._recentsContainer {
    flex-wrap: wrap;
  }
  ._recentlyContent {
    width: 50%;
  }

  ._buttonContainer {
    margin: 3% 0;
    width: 48%;
    display: block;
  }
}
