@import '@styles/index.scss';

._mainContainer {
    width: 33.2%;
    height: 25rem;
    border: 1px solid $black;
}

._collectionContainer {
    width: 100%;
    height: 100%;
}

._imageCollectionContainer {
    height: 100%;
    position: relative;

    ._image {
        width: 100%;
        height: 100%;
        background-image: url("https://picsum.photos/200/300");
        background-size: cover;
        background-repeat: no-repeat;
    }

    ._addToCart, ._viewMore {
        display: none;
    }

    &:hover {
        ._addToCart {
            cursor: pointer;
            position: absolute;
            bottom: 10%;
            background-color: white;
            width: 100%;
            border-top: 1px solid $black;
            height: 10%;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        ._viewMore {
            cursor: pointer;
            position: absolute;
            bottom: 0;
            background-color: white;
            width: 100%;
            border-top: 1px solid $black;
            height: 10%;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
}