@import '@styles/index.scss';

._content {
  display: flex;
}

._contactFormContainer {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

._imageContactContainer {
  width: 50%;
  display: block;
}

._imageContact {
  background-image: url('../../../../../public/images/backgrounds/clothes.png');
  width: 100%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@include responsive(md) {
  ._imageContactContainer {
    display: none;
  }

  ._contactFormContainer {
    width: 100%;
  }
}
