@import '../../../public/styles/index.scss';

._nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: $white;
  z-index: 999;
  display: flex;
  height: 4rem;
}

._child {
  width: 90%;
  margin:0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

._logo {
  width: 20%;
}

._menuIcons {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: flex-end;

  ._iconContainer {
    margin-left: 5%;
    cursor: pointer;
  }
}